

label.form-label {
    color: #fff;
}
.card {
    width: 400px; /* Ajusta el ancho según sea necesario */
    padding: 30px;
    background-color: #a86815;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h2.mb-4     {
    color: #fff;
    
    
}
p.mensaje1{
    font-weight: bold;
    color: rgb(0, 0, 0) !important;
    text-align: center;
    font-size: larger;

}    
.text-success {
    --bs-text-opacity: 1;
    color: rgb(247, 247, 248) !important;
}
.logo {
    text-align: center;
    margin-bottom: 20px;
}
.logo img {
    max-width: 100px; /* Ajusta el tamaño del logo */
}

.btn-primary {
    background-color: rgb(237, 243, 237) !important; 
    border-color: rgb(18, 19, 18) !important;
    color: #0a0a0a !important; 
}
.btn-primary:hover {
    background-color: #000000  !important;
    border-color: #fffefe !important;
    color: #f3efef !important;
}
.btn-secondary {
    background-color: rgb(237, 243, 237) !important; 
    border-color: rgb(18, 19, 18) !important;
    color: #0a0a0a !important; 
    
}
.btn-secondary:hover {  background-color: #000000  !important;
    border-color: #fffefe !important;
    color: #f3efef !important; 
}

a {
    color: #14087a !important;;
    
}
a:hover {
    color: #70bfec !important;
}

#mensaje.text-danger {
    font-weight: bold;
    color: black !important;
}

#general-error.mt-2 {
    font-weight: bold;
    color: black !important;
}
#username-suggestion.mt-2{
    font-weight: bold;
    color: black !important;
}

