<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Recuperación de Contraseña</title>
</head>
<body>
    <p>Hola {{ usuario.username }},</p> <!-- LLAMADA A LA VARIABLE usuario.username QUE CONTIENE EL NOMBRE DE USUARIO DEL USUARIO   -->
    <p>Has solicitado restablecer tu contraseña. Haz clic en el siguiente enlace para continuar:</p>
    <p><a href="{{ enlace }}">Restablecer Contraseña</a></p>
    <p>Si no has solicitado esto, puedes ignorar este correo electrónico.</p>
</body>
</html>